server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  server:
    tomcat:
      keep-alive-timeout: 300
      connection-timeout: 300
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    password: somport
    url: jdbc:postgresql://localhost:5432/somport
    username: somport
  jpa:
    hibernate:
      ddl-auto: create
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml
  main:
    allow-bean-definition-overriding: true

  security:
    jwt:
      secret_key: 4eeab38d706831be4b36612ead768ef8182d1dd6f0e14e5dc934652e297fb16a
      access_token_expiration: 36000000 # 10 hours
      refresh_token_expiration: 252000000 # 7 days

  websocket:
    server:
      keep-alive: 60000
      async-timeout: 0

vaadin:
  url-mapping: /ui/*
  excludeUrls: /swagger-ui/**, /v3/api-docs/**, /swagger-resources/**, /webjars/**

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui/index.html
  api-docs:
    path: /v3/api-docs
